body {
  background: url("../assets/TestBg.jpg") no-repeat center/cover fixed;
  margin: 0;
  font-family: sans-serif;
  color: white;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.content-box {
  background: rgba(84, 54, 148, 0.45);
  padding: 4px;
  text-align: center;
  border-radius: 14px;
  max-width: 450px;
}

.inner-box {
  background: rgba(255, 255, 255, 0.15);
  padding: 25px;
  border-radius: 10px;
}